<!-- data_collector/templates/data_collector/home.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home Page</title>
  </head>
  <body>
    <h3>Welcome</h3>
    Please be very precise with every data you give. Also, follow the instructions.
    <br/><h4> Step 3:</h4><br/>
    <form id="usernameForm2">
      <label for="usernameInput2">Enter Username for inner form:</label>
      <input
        type="text"
        id="usernameInput2"
        name="username2"
        placeholder="Username"
      />
      <button type="button" id="showCaptchaButton2">Show Captcha</button>
    </form>
    <br />
    <img id="captchaImage2" src="" alt="Captcha2" style="display: none" />

    <form method="POST" action="{% url 'save_captcha2' %}" target="_blank">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Username" />
      <input type="captcha" name="captcha" placeholder="Capthca" />
      <input type="submit" value="Submit" />
    </form>
    <label for="office_details"
    >Note- <br />
    *If Show Captcha button clicked early or captcha not displaying refresh the page and try again.<br />
    *After submitting captcha, reload the page and click on show captcha, if captcha was wrong then, new captcha will be needed to submit. Else, same captcha will show again and no action needed. The excel file will be saved within a while. </label
  ><br />
    {% csrf_token %}
    <script>
      const csrfToken = document.cookie.match(/csrftoken=([^;]+)/)[1];
      document
        .getElementById("showCaptchaButton")
        .addEventListener("click", function () {
          // Get the username entered by the user
          var username = document.getElementById("usernameInput").value;

          // Check if a username is entered
          if (username.trim() === "") {
            alert("Please enter a username.");
            return;
          }

          // Construct the URL for the captcha image based on the entered username
          var captchaImage = document.getElementById("captchaImage");
          captchaImage.src = `/media/captcha_${username}.png`;
          captchaImage.style.display = "block";
        });

      document
        .getElementById("showCaptchaButton2")
        .addEventListener("click", function () {
          // Get the username entered by the user
          var username2 = document.getElementById("usernameInput2").value;

          // Check if a username is entered
          if (username2.trim() === "") {
            alert("Please enter a username.");
            return;
          }

          // Construct the URL for the captcha image based on the entered username
          var captchaImage2 = document.getElementById("captchaImage2");
          captchaImage2.src = `/media/captcha_${username2}_form.png`;
          captchaImage2.style.display = "block";
        });
    </script>
  </body>
</html>