<!-- data_collector/templates/data_collector/home.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home Page</title>
  </head>
  <body>
    <h3>Welcome</h3>
    Please be very precise with every data you give. Also, follow the
    instructions.
    <div id="step1">
      <br />
      <h4>Step 1:</h4>
      <br />
      <!-- Include the user input fields -->
      <form method="post" action="{% url 'save_search_data' %}">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" id="username" name="username" /><br />

        <label for="office_details"
          >OFFICE DETAILS WHERE DOCUMENT WAS REGISTERED *-</label
        ><br />

        <label for="district_registered"
          >District (where document was registered) *</label
        >
        <select id="district_registered" name="district_registered" required>
          <option value="" selected>INDORE</option>
          <option value="51~AGAR MALWA">AGAR MALWA</option>
          <option value="49~ALIRAJPUR">ALIRAJPUR</option>
          <option value="46~ANUPPUR">ANUPPUR</option>
          <option value="47~ASHOK NAGAR">ASHOK NAGAR</option>
          <option value="1~BALAGHAT">BALAGHAT</option>
          <option value="2~BARWANI">BARWANI</option>
          <option value="3~BETUL">BETUL</option>
          <option value="4~BHIND">BHIND</option>
          <option value="5~BHOPAL">BHOPAL</option>
          <option value="48~BURHANPUR">BURHANPUR</option>
          <option value="6~CHHATARPUR">CHHATARPUR</option>
          <option value="7~CHHINDWARA">CHHINDWARA</option>
          <option value="8~DAMOH">DAMOH</option>
          <option value="9~DATIA">DATIA</option>
          <option value="10~DEWAS">DEWAS</option>
          <option value="11~DHAR">DHAR</option>
          <option value="12~DINDORI">DINDORI</option>
          <option value="13~GUNA">GUNA</option>
          <option value="14~GWALIOR">GWALIOR</option>
          <option value="15~HARDA">HARDA</option>
          <option value="17~INDORE">INDORE</option>
          <option value="18~JABALPUR">JABALPUR</option>
          <option value="19~JHABUA">JHABUA</option>
          <option value="20~KATNI">KATNI</option>
          <option value="21~KHANDWA">KHANDWA</option>
          <option value="22~KHARGONE">KHARGONE</option>
          <option value="23~MANDLA">MANDLA</option>
          <option value="24~MANDSAUR">MANDSAUR</option>
          <option value="25~MORENA">MORENA</option>
          <option value="16~NARMADAPURAM">NARMADAPURAM</option>
          <option value="26~NARSINGHPUR">NARSINGHPUR</option>
          <option value="27~NEEMUCH">NEEMUCH</option>
          <option value="52~NIWARI">NIWARI</option>
          <option value="28~PANNA">PANNA</option>
          <option value="29~RAISEN">RAISEN</option>
          <option value="30~RAJGARH">RAJGARH</option>
          <option value="31~RATLAM">RATLAM</option>
          <option value="32~REWA">REWA</option>
          <option value="33~SAGAR">SAGAR</option>
          <option value="34~SATNA">SATNA</option>
          <option value="35~SEHORE">SEHORE</option>
          <option value="36~SEONI">SEONI</option>
          <option value="37~SHAHDOL">SHAHDOL</option>
          <option value="38~SHAJAPUR">SHAJAPUR</option>
          <option value="40~SHEOPUR">SHEOPUR</option>
          <option value="39~SHIVPURI">SHIVPURI</option>
          <option value="41~SIDHI">SIDHI</option>
          <option value="50~SINGROLI">SINGROLI</option>
          <option value="42~TIKAMGARH">TIKAMGARH</option>
          <option value="43~UJJAIN">UJJAIN</option>
          <option value="44~UMARIA">UMARIA</option>
          <option value="45~VIDISHA">VIDISHA</option></select
        ><br />

        <label for="district_search">District BEING USED FOR SEARCH *</label>
        <select id="district_search" name="district_search" required>
          <option value="" selected>INDORE</option>
          <option value="51~AGAR MALWA">AGAR MALWA</option>
          <option value="49~ALIRAJPUR">ALIRAJPUR</option>
          <option value="46~ANUPPUR">ANUPPUR</option>
          <option value="47~ASHOK NAGAR">ASHOK NAGAR</option>
          <option value="1~BALAGHAT">BALAGHAT</option>
          <option value="2~BARWANI">BARWANI</option>
          <option value="3~BETUL">BETUL</option>
          <option value="4~BHIND">BHIND</option>
          <option value="5~BHOPAL">BHOPAL</option>
          <option value="48~BURHANPUR">BURHANPUR</option>
          <option value="6~CHHATARPUR">CHHATARPUR</option>
          <option value="7~CHHINDWARA">CHHINDWARA</option>
          <option value="8~DAMOH">DAMOH</option>
          <option value="9~DATIA">DATIA</option>
          <option value="10~DEWAS">DEWAS</option>
          <option value="11~DHAR">DHAR</option>
          <option value="12~DINDORI">DINDORI</option>
          <option value="13~GUNA">GUNA</option>
          <option value="14~GWALIOR">GWALIOR</option>
          <option value="15~HARDA">HARDA</option>
          <option value="17~INDORE">INDORE</option>
          <option value="18~JABALPUR">JABALPUR</option>
          <option value="19~JHABUA">JHABUA</option>
          <option value="20~KATNI">KATNI</option>
          <option value="21~KHANDWA">KHANDWA</option>
          <option value="22~KHARGONE">KHARGONE</option>
          <option value="23~MANDLA">MANDLA</option>
          <option value="24~MANDSAUR">MANDSAUR</option>
          <option value="25~MORENA">MORENA</option>
          <option value="16~NARMADAPURAM">NARMADAPURAM</option>
          <option value="26~NARSINGHPUR">NARSINGHPUR</option>
          <option value="27~NEEMUCH">NEEMUCH</option>
          <option value="52~NIWARI">NIWARI</option>
          <option value="28~PANNA">PANNA</option>
          <option value="29~RAISEN">RAISEN</option>
          <option value="30~RAJGARH">RAJGARH</option>
          <option value="31~RATLAM">RATLAM</option>
          <option value="32~REWA">REWA</option>
          <option value="33~SAGAR">SAGAR</option>
          <option value="34~SATNA">SATNA</option>
          <option value="35~SEHORE">SEHORE</option>
          <option value="36~SEONI">SEONI</option>
          <option value="37~SHAHDOL">SHAHDOL</option>
          <option value="38~SHAJAPUR">SHAJAPUR</option>
          <option value="40~SHEOPUR">SHEOPUR</option>
          <option value="39~SHIVPURI">SHIVPURI</option>
          <option value="41~SIDHI">SIDHI</option>
          <option value="50~SINGROLI">SINGROLI</option>
          <option value="42~TIKAMGARH">TIKAMGARH</option>
          <option value="43~UJJAIN">UJJAIN</option>
          <option value="44~UMARIA">UMARIA</option>
          <option value="45~VIDISHA">VIDISHA</option></select
        ><br />

        <label for="search_registered_sampada"
          >Search Document registered after 15/12/2014 (Registered through
          SAMPADA)</label
        >
        <input
          type="checkbox"
          id="search_registered_sampada"
          name="search_registered_sampada"
          checked
        /><br />

        <label for="financial_year"
          >SEARCH DOCUMENTS REGISTERED BETWEEN THE FOLLOWING DATE RANGE</label
        >
        <select id="financial_year" name="financial_year" required>
          <option value="" selected>2022-2023</option>
          <option value="FIS_019">2001-2002</option>
          <option value="FIS_018">2002-2003</option>
          <option value="FIS_017">2003-2004</option>
          <option value="FIS_016">2004-2005</option>
          <option value="FIS_015">2005-2006</option>
          <option value="FIS_014">2006-2007</option>
          <option value="FIS_013">2007-2008</option>
          <option value="FIS_012">2008-2009</option>
          <option value="FIS_011">2009-2010</option>
          <option value="FIS_010">2010-2011</option>
          <option value="FIS_009">2011-2012</option>
          <option value="FIS_020">2012-2013</option>
          <option value="FIS_002">2014-2015</option>
          <option value="FIS_003">2015-2016</option>
          <option value="FIS_004">2016-2017</option>
          <option value="FIS_005">2017-2018</option>
          <option value="FIS_006">2018-2019</option>
          <option value="FIS_007">2019-2020</option>
          <option value="FIS_008">2020-2021</option>
          <option value="FIS_021">2021-2022</option>
          <option value="FIS_022">2022-2023</option>
          <option value="FIS_023">2023-2024</option>
        </select>
        <br />

        <label for="from_date">From Date *</label>
        <input
          type="date"
          id="from_date"
          name="from_date"
          required
          value="2023-01-10"
        /><br />

        <label for="to_date">To Date *</label>
        <input
          type="date"
          id="to_date"
          name="to_date"
          required
          value="2023-10-10"
        /><br />
        <br />
        SEARCH DOCUMENTS ON THE BASIS OF PROPERTY DETAILS(OPTIONAL):
        <br />
        <label for="khasra_number">Khasra Number</label>
        <input type="text" id="khasra_number" name="khasra_number" /><br />
        <br />

        REFINE SEARCH ON THE BASIS OF TRANSACTING PARTY DETAILS (OPTIONAL):<br />
        <label for="transacting_party_first_name"
          >Transacting Party First Name</label
        >
        <input
          type="text"
          id="transacting_party_first_name"
          name="transacting_party_first_name"
        /><br />

        <label for="transacting_party_middle_name"
          >Transacting Party Middle Name</label
        >
        <input
          type="text"
          id="transacting_party_middle_name"
          name="transacting_party_middle_name"
        /><br />

        <label for="transacting_party_last_name"
          >Transacting Party Last Name</label
        >
        <input
          type="text"
          id="transacting_party_last_name"
          name="transacting_party_last_name"
        /><br />

        <label for="transacting_party_mother_name"
          >Transacting Party Mother Name</label
        >
        <input
          type="text"
          id="transacting_party_mother_name"
          name="transacting_party_mother_name"
        /><br />

        <label for="transacting_party_father_name"
          >Transacting Party Father Name</label
        >
        <input
          type="text"
          id="transacting_party_father_name"
          name="transacting_party_father_name"
        /><br />

        <label for="organization_name">Organization Name</label>
        <input
          type="text"
          id="organization_name"
          name="organization_name"
        /><br />

        <input type="submit" value="Submit" />
      </form>
      <br />

      <button onclick="showStep('step2')">Go to Step 2</button>
    </div>

    <div id="step2" style="display: none">
      <br />
      <h4>Step 2:</h4>
      <br />
      <label>Login:</label>
      <form method="POST" action="{% url 'open_login_page' %}" target="_blank">
        {% csrf_token %}
        <input
          type="text"
          name="username"
          id="username_input"
          placeholder="Username"
        />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit" id="loginButton">Login</button>
      </form>
      <br />

      <label for="office_details"
        >Please wait for a while before clicking on Show Captcha-</label
      ><br />
      <form id="usernameForm">
        <label for="usernameInput" style="display: none">Enter Username:</label>
        <input
          type="text"
          id="usernameInput"
          name="username"
          placeholder="Username"
          style="display: none"
        />
        <button type="button" id="showCaptchaButton">Show Captcha</button>
      </form>
      <br />
      <label for="office_details"
        >Note- If Show Captcha button clicked early or captcha not displaying
        refresh the page and try again.</label
      ><br />

      <img id="captchaImage" src="" alt="Captcha" style="display: none" />
      <br />
      <input
            type="text"
            name="username"
            placeholder="Username"
            id="usernameInputb"
            style="display: none"
          />
          <input id='firstCaptcha' type="captcha" name="captcha" placeholder="Captcha" />
          <button id="submitStep2">Submit</button>
      <br />

      Please wait at least a minute for details to get filled after it proceed
      with Step 3.
      <br /><br />
      <button onclick="showStep('step1')">Go to Step 1</button>
      <button id="buttonStep3" onclick="showStep('step3')">Go to Step 3</button>
    </div>
    <div id="step3" style="display: none">
      <br />
      <h4>Step 3:</h4>
      <br />

      <select id="districtDrop">
        <option value="default">Select District</option>
        <!-- Tehsil options will be dynamically populated using JavaScript --></select
      ><br /><br />

      <select id="tehsilDrop" style="display: none;">
        <option value="default">Select Tehsil</option>
        <!-- Tehsil options will be dynamically populated using JavaScript --></select
      ><br /><br />

      <select id="type_of_areaDrop" style="display: none;">
        <option value="default">Select Type_of_area</option>
        <!-- Type_of_area options will be dynamically populated using JavaScript --></select
      ><br /><br />

      <select id="sub_area_typeDrop" style="display: none;">
        <option value="default">Select Sub_area_type</option>
        <!-- sub_area_type options will be dynamically populated using JavaScript --></select
      ><br /><br />

      <select id="ward_number_patwari_numberDrop" style="display: none;">
        <option value="default">Select Ward_number_patwari_number</option>
        <!-- ward_number_patwari_number options will be dynamically populated using JavaScript --></select
        ><br /><br />

      <select id="mohalla_colony_name_society_roadDrop" style="display: none;">
        <option value="default">Select Mohalla_colony_name_society_road</option>
        <!-- mohalla_colony_name_society_road options will be dynamically populated using JavaScript --></select
        ><br /><br />

      <button id="done">Submit</button>
      <br /><br />

      <form id="usernameForm2">
        <label for="usernameInput2" style="display: none"
          >Enter Username for inner form:</label
        >
        <input
          type="text"
          id="usernameInput2"
          name="username2"
          placeholder="Username"
          style="display: none"
        />
        <button type="button" id="showCaptchaButton2">Show Captcha</button>
      </form>
      <br />
      <img id="captchaImage2" src="" alt="Captcha2" style="display: none" />
      
      <input
          type="text"
          name="username"
          placeholder="Username"
          id="usernameInput2b"
          style="display: none"
        />
        <input id= 'secCaptcha' type="captcha" name="captcha" placeholder="Captcha" />
        <button id="submitStep">Submit</button>
      <br />

      {% comment %} <form
        method="POST"
        action="{% url 'save_captcha2' %}"
        onsubmit="return onSubmitHandler();"
        target="_blank"
      >
        <input
          type="hidden"
          name="csrfmiddlewaretoken"
          value="7hEqzRMI6G8pUWXPzgCuFqcHHOYpVEnSqjY4uTsqFLWi0xixsrMJMk4h3dCdlXz8"
        />
        {% csrf_token %}
        <input
          type="text"
          name="username"
          placeholder="Username"
          id="usernameInput2b"
          style="display: none"
        />
        <input type="captcha" name="captcha" placeholder="Capthca" />
        <input type="submit" value="Submit" />
      </form> {% endcomment %}
      <label for="office_details"
        >Note- <br />
        *If Show Captcha button clicked early or captcha not displaying refresh
        the page and try again.<br />
        *After submitting captcha, click on show captcha again, if captcha was
        wrong then, new captcha will be needed to submit. Else, same captcha
        will show again and no action needed. The excel file will be saved
        within a while. </label
      ><br />
      <button onclick="showStep('step2')">Go to Step 2</button>
    </div>
    {% csrf_token %}
    <script>
      function showStep(stepId) {
        // Hide all steps
        document.getElementById("step1").style.display = "none";
        document.getElementById("step2").style.display = "none";
        document.getElementById("step3").style.display = "none";

        // Show the selected step
        document.getElementById(stepId).style.display = "block";
        localStorage.setItem("currentStep", stepId);
      }
      const csrfToken = document.cookie.match(/csrftoken=([^;]+)/)[1];
      function addDelay() {
        const showCaptchaButton = document.getElementById("showCaptchaButton");

        // Disable the "Show Captcha" button initially
        showCaptchaButton.disabled = true;

        // After a delay of 6 seconds (6000 milliseconds), enable the button
        setTimeout(function () {
          showCaptchaButton.disabled = false;
          showCaptchaButton.click();
        }, 13000);
      }
      document
        .getElementById("loginButton")
        .addEventListener("click", addDelay);
      function addDelay2() {
        const buttonStep3 = document.getElementById("buttonStep3");

        // Disable the "Show Captcha" button initially
        buttonStep3.disabled = true;

        // After a delay of 6 seconds (6000 milliseconds), enable the button
        setTimeout(function () {
          buttonStep3.disabled = false;
          buttonStep3.click();
        }, 40000);
      }
      const capthcaSubmit2 = document.getElementById("submitStep2");
      capthcaSubmit2.addEventListener("click", function () {
        const username = document.getElementById("usernameInputb").value;
        const captcha = document.getElementById("firstCaptcha").value;
        const url = `/save_captcha/${username}/${captcha}/`;
        fetch(url);
      });
      const capthcaSubmit = document.getElementById("submitStep");
      capthcaSubmit.addEventListener("click", function () {
        const username = document.getElementById("usernameInputb").value;
        const captcha = document.getElementById("secCaptcha").value;
        const url = `/save_captcha/${username}/${captcha}/`;
        fetch(url);
      });

      // Add an event listener to the "Login" button to call the addDelay function
      document
        .getElementById("submitStep2")
        .addEventListener("click", addDelay2);

      document
        .getElementById("showCaptchaButton")
        .addEventListener("click", function () {
          // Get the username entered by the user
          var username = document.getElementById("usernameInput").value;

          // Check if a username is entered
          if (username.trim() === "") {
            alert("Please enter a username.");
            return;
          }

          // Construct the URL for the captcha image based on the entered username
          var captchaImage = document.getElementById("captchaImage");
          captchaImage.src = `/media/captcha_${username}.png`;
          captchaImage.style.display = "block";
        });

      document
        .getElementById("showCaptchaButton2")
        .addEventListener("click", function () {
          // Get the username entered by the user
          var username2 = document.getElementById("usernameInput2").value;

          // Check if a username is entered
          if (username2.trim() === "") {
            alert("Please enter a username.");
            return;
          }

          // Construct the URL for the captcha image based on the entered username
          var captchaImage2 = document.getElementById("captchaImage2");
          captchaImage2.src = `/media/captcha_${username2}_form.png`;
          captchaImage2.style.display = "block";
        });

      // Get the input element for the username in Step 1
      const usernameStep2 = document.getElementById("username_input");

      // Get the input element for the username in Step 2
      const usernameStep2a = document.getElementById("usernameInput");
      const usernameStep2b = document.getElementById("usernameInputb");
      const usernameStep2c = document.getElementById("usernameInput2");
      const usernameStep2d = document.getElementById("usernameInput2b");

      // Listen for input changes in the username field in Step 2
      usernameStep2.addEventListener("input", function () {
        usernameStep2a.value = username_input.value;
        usernameStep2b.value = username_input.value;
        usernameStep2c.value = username_input.value;
        usernameStep2d.value = username_input.value;
      });
      usernameStep2a.addEventListener("input", function () {
        usernameStep2b.value = usernameInput.value;
        usernameStep2c.value = usernameInput.value;
        usernameStep2d.value = usernameInput.value;
      });
      usernameStep2b.addEventListener("input", function () {
        usernameStep2c.value = usernameInput2.value;
        usernameStep2d.value = usernameInput2.value;
      });
      const storedStep = localStorage.getItem("currentStep");
      if (storedStep) {
        showStep(storedStep);
      }
      function onSubmitHandler() {
        // Get the username entered by the user
        const username2b = document.getElementById("usernameInput2b").value;

        // Store the username value in localStorage to retain it after page reload
        localStorage.setItem("usernameValue", username2b);
        setTimeout(function () {
          window.location.reload();
        }, 10000);
        // Return true to allow form submission
        return true;
      }

      // Check if there's a stored username value in localStorage
      const storedUsername = localStorage.getItem("usernameValue");

      // If a stored username exists, set it in the username input field
      if (storedUsername) {
        document.getElementById("usernameInput2").value = storedUsername;
        document.getElementById("usernameInput2b").value = storedUsername;
      }
      document
        .getElementById("mohalla_colony_name_society_roadDrop")
        .addEventListener("change", function () {
          // Trigger a click event on the "Show Captcha" button
          document.getElementById("showCaptchaButton2").click();
        });

      const login_button = document.getElementById("submitStep2");
      login_button.addEventListener("click", function () {
        const url = `/get_districts/`;

        districtDropdown.innerHTML =
          '<option value="default">Select District</option>';

        setTimeout(function () {
          fetch(url)
            .then((response) => {
              if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
              }
              return response.json();
            })
            .then((data) => {
              console.log(data);

              if (!data || data.length === 0) {
                console.error("No districts found.");
                return;
              }

              // Populate district dropdown with fetched districts
              data.forEach((district) => {
                const option = document.createElement("option");
                option.value = district.pk;
                option.text = district.fields.name;
                districtDropdown.appendChild(option);
              });
            })
            .catch((error) => console.error("Error:", error));
        }, 25000);
      });

      const districtDropdown = document.getElementById("districtDrop");
      districtDropdown.addEventListener("change", function () {
        var username = document.getElementById("usernameInput").value;
        const selectedDistrictId = this.value;
        const district = 'district'
        const changed = `/changedDropdown/${username}/${district}/`;
        fetch(changed);
        const url = `/save_district/${username}/${selectedDistrictId}/`;
        fetch(url);
        setTimeout(function () {
          const url2 = `/get_tehsils/${selectedDistrictId}/`;
          tehsilDropdown.innerHTML =
            '<option value="default">Select Tehsil</option>';
          fetch(url2)
            .then((response) => {
              if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
              }
              return response.json();
            })
            .then((data) => {
              console.log(data);

              if (!data || data.length === 0) {
                
                const defaultOption = document.createElement("option");
                defaultOption.value = "default";
                defaultOption.text = "No data found";
                tehsilDropdown.appendChild(defaultOption);
            } else {

              // Populate tehsil dropdown with fetched tehsils
              data.forEach((tehsil) => {
                const option = document.createElement("option");
                option.value = tehsil.pk;
                option.text = tehsil.fields.name;
                tehsilDropdown.appendChild(option);
                tehsilDropdown.style.display = 'block';
              });
            }
            })
            .catch((error) => console.error("Error:", error));
        }, 5000);
      });

      const tehsilDropdown = document.getElementById("tehsilDrop");
      tehsilDropdown.addEventListener("change", function () {
        var username = document.getElementById("usernameInput").value;
        const selectedTehsilId = this.value;
        const tehsil = 'tehsil'
        const changed = `/changedDropdown/${username}/${tehsil}/`;
        fetch(changed);
        const url = `/save_tehsil/${username}/${selectedTehsilId}/`;
        fetch(url);
        setTimeout(function () {
          const url2 = `/get_type_of_areas/${selectedTehsilId}/`;
          type_of_areaDropdown.innerHTML =
            '<option value="default">Select Type_of_area</option>';
          fetch(url2)
            .then((response) => {
              if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
              }
              return response.json();
            })
            .then((data) => {
              console.log(data);

              if (!data || data.length === 0) {
                
                const defaultOption = document.createElement("option");
                defaultOption.value = "default";
                defaultOption.text = "No data found";
                type_of_areaDropdown.appendChild(defaultOption);
            } else {

              // Populate type_of_area dropdown with fetched type_of_areas
              data.forEach((type_of_area) => {
                const option = document.createElement("option");
                option.value = type_of_area.pk;
                option.text = type_of_area.fields.name;
                type_of_areaDropdown.appendChild(option);
                type_of_areaDropdown.style.display = 'block';
              });
            }
            })
            .catch((error) => console.error("Error:", error));
        }, 5000);
      });

      const type_of_areaDropdown = document.getElementById("type_of_areaDrop");
      type_of_areaDropdown.addEventListener("change", function () {
        sub_area_typeDropdown.innerHTML = '<option value="default">Select Sub_area_type</option>';
        var username = document.getElementById("usernameInput").value;
        const selectedType_of_areaName =
          type_of_areaDropdown.options[type_of_areaDropdown.selectedIndex].text;
        const selectedType_of_areaId = this.value;
        const area = 'area'
        const changed = `/changedDropdown/${username}/${area}/`;
        fetch(changed);
        const url = `/save_type_of_area/${username}/${selectedType_of_areaName}/`;
        fetch(url);
        setTimeout(function () {
          const url2 = `/get_sub_area_types/${selectedType_of_areaId}/${selectedType_of_areaName}/`;
          sub_area_typeDropdown.innerHTML ='<option value="default">Select Sub_area_type</option>';
          ward_number_patwari_numberDropdown.innerHTML = '<option value="default">Select Ward_number_patwari_number</option>';
          mohalla_colony_name_society_roadDropdown.innerHTML = '<option value="default">Select Mohalla_colony_name_society_road</option>';
          fetch(url2)
            .then((response) => {
              if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
              }
              return response.json();
            })
            .then((data) => {
              console.log(data);

              if (!data || data.length === 0) {
                
                const defaultOption = document.createElement("option");
                defaultOption.value = "default";
                defaultOption.text = "No data found";
                sub_area_typeDropdown.appendChild(defaultOption);
                sub_area_typeDropdown.style.display = 'block';
            } else {

              // Populate sub_area_type dropdown with fetched sub_area_types
              data.forEach((sub_area_type) => {
                const option = document.createElement("option");
                option.value = sub_area_type.pk;
                option.text = sub_area_type.fields.name;
                sub_area_typeDropdown.appendChild(option);
                sub_area_typeDropdown.style.display = 'block';
              });
            }
            })
            .catch((error) => console.error("Error:", error));
        }, 5000);
      });

      const sub_area_typeDropdown = document.getElementById("sub_area_typeDrop");
      sub_area_typeDropdown.addEventListener("change", function () {
        ward_number_patwari_numberDropdown.innerHTML = '<option value="default">Select Ward_number_patwari_number</option>';
        mohalla_colony_name_society_roadDropdown.innerHTML = '<option value="default">Select Mohalla_colony_name_society_road</option>';
        var username = document.getElementById("usernameInput").value;
        const selectedSub_area_typeId = this.value;
        const sub = 'sub'
        const changed = `/changedDropdown/${username}/${sub}/`;
        fetch(changed);
        const url = `/save_sub_area_type/${username}/${selectedSub_area_typeId}/`;
        fetch(url);
        setTimeout(function () {
          const url2 = `/get_ward_number_patwari_numbers/${selectedSub_area_typeId}/`;
          ward_number_patwari_numberDropdown.innerHTML = '<option value="default">Select Ward_number_patwari_number</option>';
          fetch(url2)
            .then((response) => {
              if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
              }
              return response.json();
            })
            .then((data) => {
              console.log(data);

              if (!data || data.length === 0) {
                
                const defaultOption = document.createElement("option");
                defaultOption.value = "default";
                defaultOption.text = "No data found";
                ward_number_patwari_numberDropdown.appendChild(defaultOption);
                ward_number_patwari_numberDropdown.style.display = 'block';
            } else {
              data.forEach((ward_number_patwari_number) => {
                const option = document.createElement("option");
                option.value = ward_number_patwari_number.pk;
                option.text = ward_number_patwari_number.fields.name;
                ward_number_patwari_numberDropdown.appendChild(option);
                ward_number_patwari_numberDropdown.style.display = 'block';
              });
            }
            })
            .catch((error) => console.error("Error:", error));
        }, 5000);
      });

      const ward_number_patwari_numberDropdown = document.getElementById("ward_number_patwari_numberDrop");
      ward_number_patwari_numberDropdown.addEventListener("change", function () {
        mohalla_colony_name_society_roadDropdown.innerHTML = '<option value="default">Select Mohalla_colony_name_society_road</option>';
        var username = document.getElementById("usernameInput").value;
        const selectedWard_number_patwari_numberId = this.value;
        const ward = 'ward'
        const changed = `/changedDropdown/${username}/${ward}/`;
        fetch(changed);
        const url = `/save_ward_number_patwari_number/${username}/${selectedWard_number_patwari_numberId}/`;
        fetch(url)
        setTimeout(function () {
          const url2 = `/get_mohalla_colony_name_society_roads/${selectedWard_number_patwari_numberId}/`;
          mohalla_colony_name_society_roadDropdown.innerHTML = '<option value="default">Select Mohalla_colony_name_society_road</option>';
          fetch(url2)
            .then((response) => {
              if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
              }
              return response.json();
            })
            .then((data) => {
              console.log(data);

              if (!data || data.length === 0) {
                
                const defaultOption = document.createElement("option");
                defaultOption.value = "default";
                defaultOption.text = "No data found";
                mohalla_colony_name_society_roadDropdown.appendChild(defaultOption);
                mohalla_colony_name_society_roadDropdown.style.display = 'block';
            } else {
                // Populate mohalla_colony_name_society_road dropdown with fetched data
                data.forEach((mohalla_colony_name_society_road) => {
                    const option = document.createElement("option");
                    option.value = mohalla_colony_name_society_road.pk;
                    option.text = mohalla_colony_name_society_road.fields.name;
                    mohalla_colony_name_society_roadDropdown.appendChild(option);
                    mohalla_colony_name_society_roadDropdown.style.display = 'block';
                });
            }
            })
            .catch((error) => console.error("Error:", error));
        }, 5000);
      });
      const mohalla_colony_name_society_roadDropdown = document.getElementById("mohalla_colony_name_society_roadDrop");
      mohalla_colony_name_society_roadDropdown.addEventListener("change", function () {
        var username = document.getElementById("usernameInput").value;
        const selectedMohalla_colony_name_society_roadId = this.value;
        const mohalla = 'mohalla'
        const changed = `/changedDropdown/${username}/${mohalla}/`;
        fetch(changed);
        const url = `/save_mohalla_colony_name_society_road/${username}/${selectedMohalla_colony_name_society_roadId}/`;
        fetch(url)
      });
      const done = document.getElementById("done");
      done1 = 'done'
      done.addEventListener("click", function () {
        var username = document.getElementById("usernameInput").value;
        const changed = `/changedDropdown/${username}/${done1}/`;
        fetch(changed);
      });
    </script>
  </body>
</html>




<tbody><tr>
  <td class="pageHeader" colspan="4">
  <table width="100%">
    <tbody><tr>
      <td width="82%" class="pageHeaderText">Document Search/Certified Copy</td>
      <td width="18%" valign="bottom" class="mandatoryField">*
      *</td>
    </tr>
  </tbody></table>
  </td>
</tr>




  
            <tr>
      <td height="50" colspan="4" bgcolor="red" class="lastFormValue">Data Not Available for Given Search Criteria<span class="mandatoryField"></span></td>
     
  </tr>
  <tr>
     <td height="20" class="pageFooter" colspan="4">  
     <input name="next" type="button" value="OK" onclick="javascript:document.location.href='/IGRS/jsp/login/UserLoginConfirmation.jsp'">
     </td>
</tr>




</tbody>



<td height="305" valign="top" align="center" class="contentTabletd">
  <table width="570" border="0" cellpadding="2" cellspacing="0" bordercolorlight="#000000" bordercolordark="#86B4CE" rules="none" class="internalTable" id="tblUser">
    <tbody><tr>
      <td class="pageHeader" colspan="4">
      <table width="100%">
        <tbody><tr>
          <td width="82%" class="pageHeaderText">Document Search/Certified Copy</td>
          <td width="18%" valign="bottom" class="mandatoryField">*
          *</td>
        </tr>
      </tbody></table>
      </td>
    </tr>
    
    
    
    
    
    
    
      <tr>
      <td colspan="4" class="sectionHeader">Search B Records</td>
    </tr>
    <tr>
      <td class="leftTopFormLabel">Reference ID <span class="mandatoryField"></span></td>
      <td width="392" colspan="3" class="lastFormValue">	CERTIFIEDCOPY23112023117876628</td>
      
    </tr>		
    <tr>
      <td colspan="4" class="sectionHeader">Search B Records</td>
    </tr>
    
     
    
    <tr>
            <td width="100%" class="tableFieldValue" colspan="4">
            
<table id="tb" style="width:100%" class="internalTable" cellspacing="0">
<thead>
<tr>
<th class="tableFieldName">Select</th>
<th class="tableFieldName">Registration Number</th>
<th class="tableFieldName">Date Of Registration</th></tr></thead>
<tbody>
<tr class="odd">
<td scope="request" class="tableFieldValue">
              <input type="radio" name="radioButton1" value="aM+aEWgDLsqnYABhb6u5rwwpK3qdgErn6NwTQkAZ7Gs=">
              </td>
<td class="tableFieldValue">MP179092022A1974612</td>
<td class="tableFieldValue">26/09/2022</td></tr>
<tr class="even">
<td scope="request" class="tableFieldValue">
              <input type="radio" name="radioButton1" value="qr1JZfh5G1exgR7G0nCkMzxwKaHTbiU6SMGa/4VaBr8=">
              </td>
<td class="tableFieldValue">MP179152022A1981103</td>
<td class="tableFieldValue">27/09/2022</td></tr>
<tr class="odd">
<td scope="request" class="tableFieldValue">
              <input type="radio" name="radioButton1" value="BuXfsArPoNjFp/dEYBTVU1CQnWGDl1QhDsBDtA4S484=">
              </td>
<td class="tableFieldValue">MP179152022A11005439</td>
<td class="tableFieldValue">03/10/2022</td></tr>
<tr class="even">
<td scope="request" class="tableFieldValue">
              <input type="radio" name="radioButton1" value="+IfQ4b5MDFSkdCPKrnKR+xQ0yND+TTtrv50W6/2KSFc=">
              </td>
<td class="tableFieldValue">MP179152022A11029888</td>
<td class="tableFieldValue">12/10/2022</td></tr>
<tr class="odd">
<td scope="request" class="tableFieldValue">
              <input type="radio" name="radioButton1" value="+IfQ4b5MDFSkdCPKrnKR+4XKNojKwqgbSYXZCS0ePEM=">
              </td>
<td class="tableFieldValue">MP179152022A11029772</td>
<td class="tableFieldValue">12/10/2022</td></tr>
<tr class="even">
<td scope="request" class="tableFieldValue">
              <input type="radio" name="radioButton1" value="qalFYeWkn2EmqUvOxgSKaVsKUQiS+lnjjhu/t3B3zYg=">
              </td>
<td class="tableFieldValue">MP179152022A11070215</td>
<td class="tableFieldValue">21/10/2022</td></tr>
<tr class="odd">
<td scope="request" class="tableFieldValue">
              <input type="radio" name="radioButton1" value="dWIgIUrbJV/A/HKC9w6dIQ3eokOS//+gY+mfQqjJEcE=">
              </td>
<td class="tableFieldValue">MP179152022A11092807</td>
<td class="tableFieldValue">02/11/2022</td></tr>
<tr class="even">
<td scope="request" class="tableFieldValue">
              <input type="radio" name="radioButton1" value="rYqlXEChRI7UhYH4acTX11BO3AH0zlJDPNeGypVxkD0=">
              </td>
<td class="tableFieldValue">MP179092022A11093646</td>
<td class="tableFieldValue">03/11/2022</td></tr>
<tr class="odd">
<td scope="request" class="tableFieldValue">
              <input type="radio" name="radioButton1" value="rYqlXEChRI7UhYH4acTX1w0swxDrsNYdslb/I4U2OHc=">
              </td>
<td class="tableFieldValue">MP179092022A11098298</td>
<td class="tableFieldValue">04/11/2022</td></tr>
<tr class="even">
<td scope="request" class="tableFieldValue">
              <input type="radio" name="radioButton1" value="6TCha1oGx55S9obsY6LLFmAbtCREiI+v+aGrQ/Fp8h4=">
              </td>
<td class="tableFieldValue">MP179152022A11108065</td>
<td class="tableFieldValue">07/11/2022</td></tr>
<tr class="odd">
<td scope="request" class="tableFieldValue">
              <input type="radio" name="radioButton1" value="mjj62kymXk2BBeTVeIyAAS35KYiGlTMlAMvbLDgd2kU=">
              </td>
<td class="tableFieldValue">MP179152022A11117260</td>
<td class="tableFieldValue">10/11/2022</td></tr>
<tr class="even">
<td scope="request" class="tableFieldValue">
              <input type="radio" name="radioButton1" value="KgnKftHajnVwBMvHTrEHq8yfHcFDqrOW+V3GYi7ev+k=">
              </td>
<td class="tableFieldValue">MP179092022A11115570</td>
<td class="tableFieldValue">10/11/2022</td></tr>
<tr class="odd">
<td scope="request" class="tableFieldValue">
              <input type="radio" name="radioButton1" value="cW4wUI4pB80Mm+amfo0FTe1QAmjQiaSDRLfDkbGAx8w=">
              </td>
<td class="tableFieldValue">MP179152022A11128676</td>
<td class="tableFieldValue">14/11/2022</td></tr>
<tr class="even">
<td scope="request" class="tableFieldValue">
              <input type="radio" name="radioButton1" value="cW4wUI4pB80Mm+amfo0FTb9jk71jp395HzxO8E9EC7M=">
              </td>
<td class="tableFieldValue">MP179152022A11126392</td>
<td class="tableFieldValue">14/11/2022</td></tr>
<tr class="odd">
<td scope="request" class="tableFieldValue">
              <input type="radio" name="radioButton1" value="kZHmZhudGciEcnFr/MLNtBRYMicmqnI2yScQI0FGJck=">
              </td>
<td class="tableFieldValue">MP179152022A11156111</td>
<td class="tableFieldValue">21/11/2022</td></tr></tbody></table><span class="pagebanner">40 items found, displaying 1 to 15.</span><span class="pagelinks">[First/Prev] <strong>1</strong>, <a href="docsearchtypeb.do?TRFS=NGI&amp;d-5468-p=2&amp;isCap=false&amp;getAction=submitAction" title="Go to page 2">2</a>, <a href="docsearchtypeb.do?TRFS=NGI&amp;d-5468-p=3&amp;isCap=false&amp;getAction=submitAction" title="Go to page 3">3</a> [<a href="docsearchtypeb.do?TRFS=NGI&amp;d-5468-p=2&amp;isCap=false&amp;getAction=submitAction">Next</a>/<a href="docsearchtypeb.do?TRFS=NGI&amp;d-5468-p=3&amp;isCap=false&amp;getAction=submitAction">Last</a>]</span></td>
    </tr>
          
        
          
        
          
        
    <tr>
      <td colspan="4" class="sectionHeader">Requisition Fee</td>
    </tr>
    <tr>
      <td class="leftTopFormLabel">Total Fee</td>
      <td colspan="3" class="lastFormValue">0</td>
    </tr>
    


    <tr height="25">
      <td colspan="4" class="buttonSeparator"></td>
    </tr>
    <tr>
            
          </tr>
    
    <tr>
      <td height="25" colspan="4" class="pageFooter">
      
      
      <input name="next" type="button" value="Submit" onclick="proceedSearchB2()">
      
      
      <!--
      <input name="next" type="button" value="Submit" onClick="proceedSearchB2()"/>
      
      
      -->
      
      
      
      <input type="button" value="Cancel" onclick="javascript:document.location.href='/IGRS/jsp/login/UserLoginConfirmation.jsp'">
      </td>
    </tr>
    
    
  </tbody></table>
  </td>